@import url('https://fonts.googleapis.com/css2?family=Goblin+One&family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
  /*font-family: 'Goblin One', cursive;*/
}

/*html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;  
}*/

#landing{
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%; .
  position: relative;
  animation: gradient 10s ease infinite;
}

/*h1{
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}*/

@keyframes gradient {
  0% {  
  background-position: 0 50%;
  }
  50% { 
  background-position: 100% 50%;
  }
  100% {  
  background-position: 0 50%;
  }
}

div.landing-text {
  position: absolute;
  bottom: 50%;
  width: 100%;
}

.landing-text h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.landing-text h3 {
  font-size: 2rem;
   text-shadow: .1rem .1rem .5rem black;
}

.card img{
    display: block;
    max-width: 100%;
    height: auto;
}

section#form {
    position: absolute;
    height: 45%;
    width: 100%;
    left: 0px;
    z-index: -1;
    background-color: #252934;
    color: #fff
}

#footer {
  background-color: #fff
}

#discord {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

